.homepage {
  padding: 50px 0;
  background-color: rgb(236 233 233 / 60%);
}

.mu__videoCate {
  margin: 15px 0;
}

.mu__products {
  padding: 25px 0;
}

.mu__products h2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 40px;
  font-size: 2.1rem;
}

.mu__products h2::after {
  position: absolute;
  content: "";
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 2px;
  background-color: #c70101;
}
